/* Colors
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
 */
$red:      #ac4142;
$orange:   #d28445;
$yellow:   #f4bf75;
$green:    #90a959;
$cyan:     #75b5aa;
$blue:     #6a9fb5;
$magenta:  #aa759f;
$brown:    #8f5536;
$default:  #1f1e1e;

$white:      #fff;
$lightgrey:  #eee;
$black:      #333333;

$theme-color: $black;
$theme-color-dark: darken($theme-color, 10%);

$post-date-color: #000000;
$title-color: #0f0d0d;
$masthead-title-small-color: #030101;

/* Layout */
$reverse-layout: false;
$overlay-sidebar: false;

/* Font stack */
$font-serif: "PT Serif", Georgia, "Times New Roman", serif;
$font-sans: "PT Sans", Helvetica, Arial, sans-serif;
$font-font-awesome: FontAwesome;
